@import url(style.css);

.contact-section {
    color: white;
    background-image: linear-gradient(rgba(0,0,0,.5)) ,url(images/99-films-yr9l_xQPDL0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 80px;
    height: 100vh;
}

.contact-section h1 {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.contact-form input, .contact-form textarea {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form textarea {
    resize: vertical;
    min-height: 120px;
}

.contact-form button {
    background-color: var(--soft-peach);
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #ffb38f;
}